flows.json
[{"id":"b5bd270616b5bdd6","type":"tab","label":"SMART HOME ASSISTANT","disabled":true,"info":"","env":[]},{"id":"d2cdf08b9cf7d440","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"84b219d34b79915a","type":"ibmiot","name":"IBM IOT API","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"5f9853cad70c0b5c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9668518373f69dcc","type":"ui_group","name":"Smart Home Assistant ","tab":"a52c132e833fe3ad","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a3e4737f82cbe6b5","type":"ui_tab","name":"Project","icon":"dashboard","disabled":true,"hidden":false},{"id":"a52c132e833fe3ad","type":"ui_tab","name":"IOT","icon":"dashboard","disabled":false,"hidden":false},{"id":"be25724cbcc75453","type":"ibmiot in","z":"b5bd270616b5bdd6","authentication":"apiKey","apiKey":"84b219d34b79915a","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"2001","applicationId":"","deviceType":"RIFT","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":370,"y":140,"wires":[["ad8c324037e478ac"]]},{"id":"ad8c324037e478ac","type":"function","z":"b5bd270616b5bdd6","name":"","func":"global.set(\"temp\",msg.payload.temperature)\nglobal.set(\"humidity\",msg.payload.humidity)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":140,"wires":[["a0b0bf8d7625346b"]]},{"id":"a0b0bf8d7625346b","type":"debug","z":"b5bd270616b5bdd6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":140,"wires":[]},{"id":"e95173a51ff610e9","type":"watson-assistant-v2","z":"b5bd270616b5bdd6","name":"Smart Home Assistant","service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/82eed8ba-8395-4dc3-8c1e-8588c5e23704","assistant_id":"652f4ead-bc5f-4d8d-abc6-3ae30536cc9f","debug":false,"restart":false,"return_context":false,"alternate_intents":false,"multisession":false,"timeout":"","optout-learning":false,"persist-session-id":false,"x":640,"y":220,"wires":[["72d1ddccbafa55af"]]},{"id":"2c2684e5e6ac808c","type":"ui_text_input","z":"b5bd270616b5bdd6","name":"","label":"Enter command","tooltip":"","group":"9668518373f69dcc","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":180,"y":260,"wires":[["e95173a51ff610e9"]]},{"id":"a0d8fff7a1b5b467","type":"watson-speech-to-text","z":"b5bd270616b5bdd6","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-GB","langhidden":"en-GB","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"uSoMS1UvWGmq_gqt20cpivC2ztn2d-88oC0MgzQC1EEj","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/4ca0d781-6fd8-4140-9bc1-1a03357425f8","x":170,"y":320,"wires":[["e95173a51ff610e9","17f1df47968e106d"]]},{"id":"d074223935a5ec1f","type":"ui_microphone","z":"b5bd270616b5bdd6","name":"","group":"9668518373f69dcc","order":1,"width":0,"height":0,"maxLength":5,"maxRecogLength":5,"timeslice":0,"press":"click","mode":"audio","interimResults":false,"x":150,"y":420,"wires":[["a0d8fff7a1b5b467"]]},{"id":"17f1df47968e106d","type":"ui_text","z":"b5bd270616b5bdd6","group":"9668518373f69dcc","order":2,"width":0,"height":0,"name":"","label":"voice input","format":"{{msg.payload}}","layout":"row-spread","className":"","x":170,"y":380,"wires":[]},{"id":"72d1ddccbafa55af","type":"function","z":"b5bd270616b5bdd6","name":"","func":"msg.payload=msg.payload.output.generic[0].text \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":320,"wires":[["0bfd0c5946be1d0d","6d0509bcdadd4fa6"]]},{"id":"0bfd0c5946be1d0d","type":"switch","z":"b5bd270616b5bdd6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"value","vt":"str"},{"t":"eq","v":"humidity","vt":"str"},{"t":"eq","v":"lighton","vt":"str"},{"t":"eq","v":"lightoff","vt":"str"},{"t":"eq","v":"fanon","vt":"str"},{"t":"eq","v":"fanoff","vt":"str"},{"t":"eq","v":"ankith","vt":"str"},{"t":"eq","v":"mystogan","vt":"str"},{"t":"eq","v":"rift","vt":"str"},{"t":"eq","v":"riftlive","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":11,"x":430,"y":500,"wires":[["e53a740b373ad951"],["afbc823bc0f9be4b"],["36ae05963db152e4","95e9b86af745f86f"],["36ae05963db152e4","95e9b86af745f86f"],["36ae05963db152e4","95e9b86af745f86f"],["36ae05963db152e4","95e9b86af745f86f"],["4ca2dac5f6bd2466"],["4ca2dac5f6bd2466"],["4ca2dac5f6bd2466"],["4ca2dac5f6bd2466"],["7fe14f301ff317a1"]]},{"id":"e53a740b373ad951","type":"function","z":"b5bd270616b5bdd6","name":"","func":"var t=global.get('temp')\nif(t==undefined){\n    msg.payload=\"Temperature no available\"\n}\nelse {\n    msg.payload=\"Temperature: \"+ t +\"Degree Celsius\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":420,"wires":[["af46a3f487930de6","a3bae836254b99ba","7fe14f301ff317a1"]]},{"id":"afbc823bc0f9be4b","type":"function","z":"b5bd270616b5bdd6","name":"","func":"var h=global.get('temp')\nif(t==undefined){\n    msg.payload=\"Humidity unavailable\"\n}\nelse {\n    msg.payload=\"Humidity: \"+ h +\"Percentage\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":480,"wires":[["af46a3f487930de6","a3bae836254b99ba","7fe14f301ff317a1"]]},{"id":"36ae05963db152e4","type":"function","z":"b5bd270616b5bdd6","name":"","func":"var m= msg.payload\nmsg.payload ={\"command\":m} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":540,"wires":[["cbf13a0bfb7794f3"]]},{"id":"95e9b86af745f86f","type":"function","z":"b5bd270616b5bdd6","name":"","func":"var va = msg.payload;\nif(va==\"lighton\"){\n    msg.payload=\"Light is switched on\"\n}\nelse if(va==\"lightoff\"){\n    msg.payload=\"Light is switched off\"\n}\nelse if(va==\"fanon\"){\n    msg.payload=\"Fan is switched on\"\n}\nelse if(va==\"fanoff\"){\n    msg.payload=\"fan is switched off\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":600,"wires":[["a3bae836254b99ba","7fe14f301ff317a1"]]},{"id":"4ca2dac5f6bd2466","type":"function","z":"b5bd270616b5bdd6","name":"","func":"msg.payload = {\"_id\":msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":660,"wires":[["3f43e5d8522aaf6f"]]},{"id":"6d0509bcdadd4fa6","type":"function","z":"b5bd270616b5bdd6","name":"","func":"check=msg.payload.slice(0,4)\nif(check==\"time\"){\n    date=msg.payload.slice(5,15)\n    time=msg.payload.slice(16,21)\n    val = date+\" \"+time\n    global.set('val',val)\n    topic=msg.payload.slice(25,)\n    global.set('topic',topic)\n    msg.payload=\"remainder is set on \"+date+\"at\"+time + \"about\"+topic\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":280,"wires":[["af46a3f487930de6","a3bae836254b99ba"]]},{"id":"af46a3f487930de6","type":"debug","z":"b5bd270616b5bdd6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":280,"wires":[]},{"id":"a3bae836254b99ba","type":"ui_text","z":"b5bd270616b5bdd6","group":"9668518373f69dcc","order":3,"width":0,"height":0,"name":"","label":"status","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1050,"y":420,"wires":[]},{"id":"3f43e5d8522aaf6f","type":"cloudant in","z":"b5bd270616b5bdd6","name":"sms","cloudant":"","database":"sms","service":"node-red-nsvdb-2021--cloudant-1639313631239-61455","search":"_id_","design":"","index":"","x":500,"y":740,"wires":[["1502d286a8cff29c"]]},{"id":"1502d286a8cff29c","type":"function","z":"b5bd270616b5bdd6","name":"","func":"msg.payload=msg.payload.number \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":780,"wires":[["3c639668658d5808","2b273408ca0b6d50"]]},{"id":"a9411329bd18d215","type":"function","z":"b5bd270616b5bdd6","name":"","func":"var r=global.get('val')\nvar t=global.get('topic')\nvar d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset * 60000);\nvar Offset = 5.5;\nnewDate= new Date(utc + (3600000*offset));\nvar n =newDate.toISOString()\nvar date = n.slice(0,10);\nvar time = n.slice(11,16);\nc+date+\" \"+time\nif(r==c){\n    msg.payload = \"you have a reminder now about \" +\" \"+t\n}\nelse{\n    msg.payload = \" \"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":840,"wires":[["5a0b2466e28b09ef","a3bae836254b99ba"]]},{"id":"3c639668658d5808","type":"http request","z":"b5bd270616b5bdd6","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1070,"y":800,"wires":[["5a0b2466e28b09ef"]]},{"id":"5a0b2466e28b09ef","type":"debug","z":"b5bd270616b5bdd6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":840,"wires":[]},{"id":"2b273408ca0b6d50","type":"debug","z":"b5bd270616b5bdd6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1080,"y":720,"wires":[]},{"id":"cbf13a0bfb7794f3","type":"ibmiot out","z":"b5bd270616b5bdd6","authentication":"apiKey","apiKey":"84b219d34b79915a","outputType":"cmd","deviceId":"RIFT","deviceType":"2.1.4","eventCommandType":"blink","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":1070,"y":680,"wires":[]},{"id":"7fe14f301ff317a1","type":"watson-text-to-speech","z":"b5bd270616b5bdd6","name":"","lang":"en-GB","langhidden":"en-GB","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-GB_JamesV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"Hy00Wf7RlszUBwpTxjbO-qm8ZYUpIpDeECTwdZgjmcXH","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/7b821ca9-4bf8-402b-a1d3-13fcebbeb374","x":1060,"y":620,"wires":[["bdec294a38a575f8"]]},{"id":"bdec294a38a575f8","type":"ui_audio","z":"b5bd270616b5bdd6","name":"","group":"9668518373f69dcc","voice":"","always":"","x":1190,"y":560,"wires":[]},{"id":"9ac304f1923b7f69","type":"inject","z":"b5bd270616b5bdd6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"hello","payloadType":"date","x":520,"y":820,"wires":[["a9411329bd18d215"]]},{"id":"d1dd5466ed945ed5","type":"ibmiot in","z":"d2cdf08b9cf7d440","authentication":"apiKey","apiKey":"84b219d34b79915a","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"2001","applicationId":"","deviceType":"RIFT","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":220,"y":140,"wires":[["56cb66413f9c961a"]]},{"id":"56cb66413f9c961a","type":"function","z":"d2cdf08b9cf7d440","name":"","func":"global.set(\"temp\",msg.payload.temperature)\nglobal.set(\"humidity\",msg.payload.humidity)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":140,"wires":[["4f37528b54fecb1d"]]},{"id":"4f37528b54fecb1d","type":"debug","z":"d2cdf08b9cf7d440","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":140,"wires":[]},{"id":"cd9deee3c95cca8c","type":"ui_text_input","z":"d2cdf08b9cf7d440","name":"","label":"Enter your command","tooltip":"","group":"9668518373f69dcc","order":5,"width":0,"height":0,"passthru":false,"mode":"text","delay":"800","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":120,"y":220,"wires":[["830006aec9ee84b3"]]},{"id":"830006aec9ee84b3","type":"watson-assistant-v2","z":"d2cdf08b9cf7d440","name":"","service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/82eed8ba-8395-4dc3-8c1e-8588c5e23704","assistant_id":"652f4ead-bc5f-4d8d-abc6-3ae30536cc9f","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":false,"timeout":"","optout-learning":false,"persist-session-id":false,"x":450,"y":200,"wires":[["26463b914e9aa393"]]},{"id":"8431ed782dd6ec0f","type":"watson-speech-to-text","z":"d2cdf08b9cf7d440","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"uSoMS1UvWGmq_gqt20cpivC2ztn2d-88oC0MgzQC1EEj","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/4ca0d781-6fd8-4140-9bc1-1a03357425f8","x":140,"y":300,"wires":[["14f6d85590a51a55","830006aec9ee84b3"]]},{"id":"14f6d85590a51a55","type":"ui_text","z":"d2cdf08b9cf7d440","group":"9668518373f69dcc","order":6,"width":0,"height":0,"name":"","label":"Voice input","format":"{{msg.payload}}","layout":"row-spread","className":"","x":190,"y":400,"wires":[]},{"id":"50308142e7e82a3e","type":"ui_microphone","z":"d2cdf08b9cf7d440","name":"","group":"9668518373f69dcc","order":7,"width":0,"height":0,"maxLength":"4","maxRecogLength":5,"timeslice":0,"press":"click","mode":"audio","interimResults":false,"x":140,"y":480,"wires":[["8431ed782dd6ec0f"]]},{"id":"26463b914e9aa393","type":"function","z":"d2cdf08b9cf7d440","name":"","func":"msg.payload=msg.payload.output.generic[0].text\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":280,"wires":[["b6d1374251534721","42193fd5fc2fd579","8adf2c0fa19e89b4"]]},{"id":"b6d1374251534721","type":"switch","z":"d2cdf08b9cf7d440","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"temp","vt":"str"},{"t":"eq","v":"humidity","vt":"str"},{"t":"eq","v":"lighton","vt":"str"},{"t":"eq","v":"lightoff","vt":"str"},{"t":"eq","v":"fanon","vt":"str"},{"t":"eq","v":"fanoff","vt":"str"},{"t":"eq","v":"rift","vt":"str"},{"t":"eq","v":"riftlive","vt":"str"},{"t":"eq","v":"mystogan","vt":"str"},{"t":"eq","v":"ankith","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":11,"x":630,"y":400,"wires":[["b4f426827cb1bbd6"],["d2d20a6d3c02b6f8"],["59b768c9599c963f","f7f6e3f02e99b258"],["59b768c9599c963f","f7f6e3f02e99b258"],["59b768c9599c963f","f7f6e3f02e99b258"],["59b768c9599c963f","f7f6e3f02e99b258"],["7b14a3c3ae5d39e3"],["7b14a3c3ae5d39e3"],["7b14a3c3ae5d39e3"],["7b14a3c3ae5d39e3"],["0b6d932d5838865a"]]},{"id":"b4f426827cb1bbd6","type":"function","z":"d2cdf08b9cf7d440","name":"","func":"var t=global.get('temp')\nif(t==undefined){\n    msg.payload=\"Temperature no available\"\n}\nelse {\n    msg.payload=\"Temperature: \"+ t +\"° Celsius\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":260,"wires":[["78288a3dab4c7959","9948e08ecf611f0c","0b6d932d5838865a"]]},{"id":"d2d20a6d3c02b6f8","type":"function","z":"d2cdf08b9cf7d440","name":"","func":"var h=global.get('humidity')\nif(h==undefined){\n    msg.payload=\"Humidity unavailable\"\n}\nelse {\n    msg.payload=\"Humidity: \"+ h +\"%\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":360,"wires":[["78288a3dab4c7959","9948e08ecf611f0c","0b6d932d5838865a"]]},{"id":"59b768c9599c963f","type":"function","z":"d2cdf08b9cf7d440","name":"","func":"var m= msg.payload\nmsg.payload ={\"command\":m} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":440,"wires":[["43d09581f4cec750"]]},{"id":"7b14a3c3ae5d39e3","type":"function","z":"d2cdf08b9cf7d440","name":"","func":"msg.payload = {\"_id\":msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":580,"wires":[["4a88b939cadfe0e7"]]},{"id":"f7f6e3f02e99b258","type":"function","z":"d2cdf08b9cf7d440","name":"","func":"var va = msg.payload;\nif(va==\"lighton\"){\n    msg.payload=\"Light is switched on\"\n}\nelse if(va==\"lightoff\"){\n    msg.payload=\"Light is switched off\"\n}\nelse if(va==\"fanon\"){\n    msg.payload=\"Fan is switched on\"\n}\nelse if(va==\"fanoff\"){\n    msg.payload=\"fan is switched off\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":520,"wires":[["0b6d932d5838865a"]]},{"id":"78288a3dab4c7959","type":"debug","z":"d2cdf08b9cf7d440","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1320,"y":220,"wires":[]},{"id":"9948e08ecf611f0c","type":"ui_text","z":"d2cdf08b9cf7d440","group":"9668518373f69dcc","order":8,"width":0,"height":0,"name":"","label":"status","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1650,"y":300,"wires":[]},{"id":"0b6d932d5838865a","type":"watson-text-to-speech","z":"d2cdf08b9cf7d440","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_KevinV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"Hy00Wf7RlszUBwpTxjbO-qm8ZYUpIpDeECTwdZgjmcXH","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/7b821ca9-4bf8-402b-a1d3-13fcebbeb374","x":1360,"y":400,"wires":[["6e4a97a69bc1881e"]]},{"id":"6e4a97a69bc1881e","type":"ui_audio","z":"d2cdf08b9cf7d440","name":"","group":"9668518373f69dcc","voice":"Microsoft Mark - English (United States)","always":"","x":1360,"y":460,"wires":[]},{"id":"4a88b939cadfe0e7","type":"cloudant in","z":"d2cdf08b9cf7d440","name":"sms","cloudant":"","database":"names","service":"node-red-nsvdb-2021--cloudant-1639313631239-61455","search":"_id_","design":"","index":"","x":1090,"y":660,"wires":[["03b7859292963a2d"]]},{"id":"03b7859292963a2d","type":"function","z":"d2cdf08b9cf7d440","name":"","func":"msg.payload=msg.payload.number\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":660,"wires":[["84c4db319da3a28d","a4434b7fa1412874"]]},{"id":"84c4db319da3a28d","type":"http request","z":"d2cdf08b9cf7d440","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1530,"y":660,"wires":[["b8ad1901c6859d5f"]]},{"id":"6dd37754318c0303","type":"inject","z":"d2cdf08b9cf7d440","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":1100,"y":720,"wires":[["4b1c9fba9952400c"]]},{"id":"4b1c9fba9952400c","type":"function","z":"d2cdf08b9cf7d440","name":"","func":"var r=global.get('val')\nvar t=global.get('topic')\nvar d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset * 60000);\nvar Offset = 5.5;\nnewDate= new Date(utc + (3600000*offset));\nvar n =newDate.toISOString()\nvar date = n.slice(0,10);\nvar time = n.slice(11,16);\nc+date+\" \"+time\nif(r==c){\n    msg.payload = \"you have a reminder now about \" +\" \"+t\n}\nelse{\n    msg.payload = \" \"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":720,"wires":[["b8ad1901c6859d5f","9948e08ecf611f0c","0b6d932d5838865a"]]},{"id":"b8ad1901c6859d5f","type":"debug","z":"d2cdf08b9cf7d440","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1740,"y":700,"wires":[]},{"id":"a4434b7fa1412874","type":"debug","z":"d2cdf08b9cf7d440","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1640,"y":560,"wires":[]},{"id":"43d09581f4cec750","type":"ibmiot out","z":"d2cdf08b9cf7d440","authentication":"apiKey","apiKey":"84b219d34b79915a","outputType":"evt","deviceId":"2001","deviceType":"RIFT","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":1640,"y":480,"wires":[]},{"id":"dce2aaa4a9c292f7","type":"inject","z":"d2cdf08b9cf7d440","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello","payloadType":"str","x":330,"y":320,"wires":[["830006aec9ee84b3"]]},{"id":"42193fd5fc2fd579","type":"debug","z":"d2cdf08b9cf7d440","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":260,"wires":[]},{"id":"8adf2c0fa19e89b4","type":"function","z":"d2cdf08b9cf7d440","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":200,"wires":[["9948e08ecf611f0c"]]}]